<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/book.css') }}">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <!-- ヘッダーロゴ -->
        <div class="logo">図書管理システム</div>
        
        
        <!-- ハンバーガーメニュー部分 -->
        <div class="nav">
      
          
          
          <!-- ハンバーガーメニューの表示・非表示を切り替えるチェックボックス -->
          <input id="drawer_input" class="drawer_hidden" type="checkbox">
      
          <!-- ハンバーガーアイコン -->
          <label for="drawer_input" class="drawer_open"><span></span></label>
      
          <!-- メニュー -->
          <nav class="nav_content">
            <ul class="nav_list">
              <li class="nav_item"><a href="">ホーム</a></li>
              <li class="nav_item"><a href="">ログアウト</a></li>
            </ul>
          </nav>
     
        </div>
      </header>
<h1>&emsp;</h1>
<h1>&emsp;</h1>
      
      <div class= "second-life">
        <h3 style="text-align:center">図書削除</h3><br>
    
        <form action="{{url_for('book_select_delete')}}" method="post">
        
          <label class ="big">本のタイトル</label>     
          <input type="text" class= "big" name="book_title" value="{{book_title}}" style= "width: 100%; height: 40px;"><br><br><br>
            
                <div class = "top-box">
                  <div class= "top-box-inner">
                <button type="submit" class= "button">削除</button>
                </div>
                <div class= "top-box-inner">
                <a href="{{url_for('return_bookall')}}" class = "button">戻る</a>
                </div>
              </div>
        </form>
    </div>
    
      
</body>
</html>